<h1 style="font-family: 'Geometria Heavy'">Hell Yeah...  
  <br><small>You Did It!!</small>
</h1>
<br>
<div class="video">
  <iframe src="" frameborder="0"></iframe>
</div>
<br>
<a class="btn" href="#">
Find Out What's Next
</a>