<h1 style="font-family: 'Geometria Heavy'">Hell Yeah...  
  <br><small>You Did It!!</small>
</h1>
<br>
<div class="video">
  <iframe src="https://player.vimeo.com/video/573265997" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>
<br>
<a class="btn" href="#">
Find Out What's Next
</a>