

<section class="form_section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-7">
				<div class="white_box">
					<div class="row justify-content-center">
						<div class="col-12 col-md-11">
							<%= form_with(url: verify_otp_path) do |form| %>
								<h4 class="mb-1">Confirm Your Phone Number</h4>
								<p class="text-center mb-1">Enter in the 6-digit code sent to your phone.</p>
								<%= link_to(after_sign_up_path, class: "instead_link") do %>
							    <i class="fa fa-repeat"></i> Send again
							  <% end %>
								<div class="form-group">
								 	<%= form.text_field :verification_code, class: 'form-control', placeholder: '* * * * * *', required: true %>
								</div>
								<div class="try_again">Failure. Incorect code. Please try again.</div>
								<div class="row">
									<div class="col-12">
										<div class="text-right">
											<%= form.submit 'Submit', class: 'btn_orange mt-1' %>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
