	<section class="form_section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-4">
					<form method="post">
						<h4>Get Started</h4>
						<div class="start_box">
							<div class="img_box">
								<%= image_tag 'get-started-icon.svg' %>
							</div>
							<div class="text_box">
								<h4>$ 195.99</h4>
								<p>for the first month and then <br class="hidden-xs"><span><sup>$</sup> 175.99</span> every month after</p>
								<ul>
									<li><%= image_tag 'check_circle.png' %> Free Domain</li>
									<li><%= image_tag 'check_circle.png' %> Unlimited Leads</li>
								</ul>
							</div>
						</div>
						<button class="btn_red mt-"><span>SUBSCRIBE</span></button>
					</form>
				</div>
			</div>
		</div>
	</section>