
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalToggleLabelNew">Add Leads</h5>
    <a class="m-2" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Import CSV</a>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <%= render 'form' %>
  </div>




