
  <div class="modal-header">
    <h5 class="modal-title" id="modalToggleLabelEdit">Show Lead</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <span class="mr-3">First Name </span> : 
      <span class="ml-3"><%= @lead.first_name %></span>
    </div>

    <div class="mb-3">
      <span class="mr-3">Last Name </span> : 
      <span class="ml-3"><%= @lead.last_name %></span>
    </div>

    <div class="mb-3">
      <span class="mr-3">Phone Number</span> : 
      <span class="ml-3"><%= @lead.phone_number %></span>
    </div>
    
    
  </div>
  