<section class="main_section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-5">
        <div class="row">
					<div class="col-6">
						<h4 class="mb-5">New Leads</h4>
					</div>
					<div class="col-6">
						<ul class="list-inline top_select">
							<li class="list-inline-item"><a href="" class="active">One Person</a></li>
							<li class="list-inline-item"><a href="/leads/new_csv" class="">CSV Upload</a></li>
						</ul>
					</div>
				</div>
        <%= render 'form' %>
			</div>
		</div>
	</div>
</section>
