<section class="content_section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="flexer">
          <span>
            <h1>Prepare To Be<br class="hidden-xs"><span>Amazed</span></h1>
            <p>The automation platform of the <span>future</span> is here</p>
          </span>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <%=image_tag("home-right-image.png", alt: "#", class: "home_right") %>
      </div>
    </div>
  </div>
</section>
