<section class="content_section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="flexer">
          <span>
            <h1>The <span>easiest</span> way<br class="hidden-xs"> to close the deal</h1>
            <p>Disruptive startup assets <span>rockstar</span> deployment<br class="hidden-xs"> termsheet partnership</p>
            <a href="#" class="btn_blue">Read More <%=image_tag("arrow_right.png", class: "", alt: "#") %></a>
          </span>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <%=image_tag("home-right-image.png", alt: "#", class: "home_right") %>
      </div>
    </div>
  </div>
</section>
