<section class="form_section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <%= form_for("registration", url: search_domain_path, remote: true) do |form| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <h4>Choose a new <br>website domain</h4>
          <div class="form-group">
            <%= form.text_field :search, placeholder: 'Search for a new domain', class: "form-control" %>
            <%= form.submit "", class: 'search_keywords input_icon search' %>
          </div>
        <% end %>

        <div id="domains_div"></div>
      </div>
    </div>
  </div>
</section>
